---
name: Provision AKS with Terraform
on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        required: true
        default: dev
        type: choice
        options:
          - dev
          - qa
          - stage
          - uat
          - prod
      action:
        description: Terraform action
        required: true
        default: plan
        type: choice
        options:
          - plan
          - apply
          - destroy
permissions:
  id-token: write
  contents: read
jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_DIR: infra
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_AKS_CREDENTIALS }}
          enable-AzPSSession: false
          environment: azurecloud
      - name: Export ARM creds for Terraform (from AZURE_AKS_CREDENTIALS)
        run: |
          CREDS='${{ secrets.AZURE_AKS_CREDENTIALS }}'
          echo "$CREDS" | jq -r '
          "ARM_CLIENT_ID=\(.clientId)\n" +
          "ARM_CLIENT_SECRET=\(.clientSecret)\n" +
          "ARM_TENANT_ID=\(.tenantId)\n" +
          "ARM_SUBSCRIPTION_ID=\(.subscriptionId)\n"
          ' >> $GITHUB_ENV
      - name: Terraform Init (Remote State)
        working-directory: ${{ env.TF_DIR }}
        run: >
          terraform init -upgrade \

          -backend-config="resource_group_name=${{ secrets.TFSTATE_RG }}" \

          -backend-config="storage_account_name=${{ secrets.TFSTATE_STORAGE_ACCOUNT }}" \

          -backend-config="container_name=${{ secrets.TFSTATE_CONTAINER }}" \

          -backend-config="key=${{ secrets.TFSTATE_KEY }}"
      - name: Terraform Validate
        working-directory: ${{ env.TF_DIR }}
        run: terraform validate
      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' || github.event.inputs.action ==
          'apply' }}
        working-directory: infra
        run: |
          terraform plan \
            -var="environment=${{ github.event.inputs.environment }}" \
            -out=tfplan
      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        working-directory: infra
        run: terraform apply -auto-approve tfplan
      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        working-directory: infra
        run: terraform destroy -auto-approve -var="environment=${{
          github.event.inputs.environment }}"
